<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="http://github.com/smrails">Seth</a>  An aspiring web developer with the help of the fine folks at The Firehose Project.
  </p>
  <br />
  <p>
    They have taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High School.
  </p>
  <br />
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

</div>