@import url(http://fonts.googleapis.com/css?family=Exo);


.clear {
  clear:both;
}

body {
  background: url('/assets/diagonal_waves.png');
}

header{
  background: url('/assets/retina_wood.png');
}

.logo {
    font-weight:bold;
    font-style: italic;
    position: relative;
    margin: 10px 10px;
    text-align: center;
    color: #146E26;
    font-size: 10px;
    line-height: 12px;
    -ms-transform:rotate(11deg); /* IE 9 */
    -webkit-transform:rotate(11deg); /* Opera, Chrome, and Safari */
}

.slogan {
  font-family: 'Exo', sans-serif;
  font-style: italic;
  padding-top: 26px;
}

.links {
  padding-top:26px;
}

.links a {
  color:black;
  font-size: 25px;
  border-bottom: 1px solid #dfdfdf;
  font-family:  'Exo', sans-serif;
  font-weight:bold;
}

hr {
  clear:both;
}

h1 {
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 48px;
 }

h2 {
  font-family: sans-serif;
}


.next-quote {
  color:#146E26;
  font-family:  'Exo', sans-serif;
  font-size:20px;
}

.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align:right;
  font-size:18px;
}

.logo:hover {
  text-decoration:none;
}

.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.modal {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

h2 span {
  color: #dddddd;
}

h1 {
  font-family:  'Exo', sans-serif;
  font-weight:bold;
  font-size:48px;
}

h2 span {
  color: #dddddd;
  font-family:  'Exo', sans-serif;
}

::selection {
  background-color: #f84342;
}

.footer {
  background: url('/assets/diagonal_striped_brick.png');
}